
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    margin-top: 100px
}



.calender{
    margin : 10px auto;
    width: 800px;
    height: 400px;
    background-color: white;
}

.weekdays{
    width: 742px;
    display: flex;
    padding : 0px ;
    
}

.weekdays div{
    padding: 20px;
  
}

.days{
    display: flex;
    flex-wrap: wrap;

}

.days div{
   border: 1px solid;
    padding:20px 0px;
}

.weekdays div, .days div{
    width:13%;
    border: 1px solid;
    text-align: center;
}

.top-input{
    margin-bottom: 20px;
}

.today{
   background-color: green;
   color: white
}

.top-input,
.bottom-input{
    width: 800px;
    display: flex;
    flex-shrink: ;
    justify-content: left;
}
.input-box{
    width: 10rem;
    height: 40px;
    margin-right: 15px;
    border: 1px solid gray;


}

.input-box:focus{
    outline: none;
}

.bottom-input button {
    width: 8rem;
    height: 40px;
    margin-left: 35px;
    background-color: rgb(72, 90, 223);
    color: white;
    border:none;
    cursor:pointer;
}
